/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | / @use 'bootstrap' with (
 * 3 | |   $enable-shadows: true,
 * 4 | |   $enable-gradients: true,
 * 5 | |   $enable-rounded: true,
 * 6 | |   $enable-transitions: true
 * 7 | | );
 *   | '-^
 *   '
 *   SASS\estilos.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  \250c  @use 'bootstrap' with (\a 3 \2502  \2502    $enable-shadows: true,\a 4 \2502  \2502    $enable-gradients: true,\a 5 \2502  \2502    $enable-rounded: true,\a 6 \2502  \2502    $enable-transitions: true\a 7 \2502  \2502  );\a   \2502  \2514 \2500 ^\a   \2575 \a   SASS\\estilos.scss 2:1  root stylesheet";
}
