@import "../partials/variables.scss";
/* Banner principal */
.banner {
  background-image: url('../MEDIOS/banner.jpg');
  background-color: $dark-color; /* Color de fondo oscuro */
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;

  &.small {
    height: 300px;
    padding-bottom: 0;
  }
}
