@import "../partials/variables.scss";
/* Header */
header {
  background-color: $primary-color;

  .logo {
    width: 60px;
  }

  ul {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
/* Header responsive */
@media (max-width: 768px) {
  header {
    .logo {
      width: 40px;
    }

    a {
      font-size: 1.2rem;
    }
  }
}
