// Mixin para centrar elementos flexiblemente
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin para texto responsivo
@mixin responsive-font($size) {
  font-size: $size;

  @media (max-width: 768px) {
    font-size: calc($size - 2px);
  }
}

// Mixin para sombras
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}
