/* Títulos generales */
h1,
h2 {
  @extend %title-base;
  color: $primary-color;
  animation: slide-up 1s ease-out;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.titulos {
  color: black;
  text-decoration: underline;
  font-size: 30px; /* Tamaño absoluto */
  font-family: 'Oswald', sans-serif;
}
