/* Variables de colores */
$primary-color: #3d8d7a; /* Color principal */
$secondary-color: #a3d1c6; /* Color secundario */
$light-color: #f0f0f0; /* Color claro */
$dark-color: #555; /* Color oscuro */
$white-color: #fff; /* Color blanco */

