/* Variables de colores */
$colors: (
  primary: #3d8d7a, /* Color primario */
  secondary: #a3d1c6, /* Color secundario */
  light: #fbffe4, /* Color claro */
  dark: #555 /* Color oscuro */
);
$white-color: #fff; /* Color blanco */

/*Otras variables*/
$primary-color: #3d8d7a;
$secondary-color: #a3d1c6;
$dark-color: #555; /* Color oscuro */
$light-color: #fbffe4; /* Color claro */

